*{
    margin: 10px auto;
    padding: 0;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#one { 
    margin-top: 200px;
}
#two { 
    border: 3px solid black;
    width: 70%;
}
form{
    display: inline-block
}